<h1>商品新規登録</h1>
  <%= form_with model: @item do |f| %>
    <h4>商品画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
    <h4>商品名</h4>
      <%= f.text_field :shop_name %>
    <h4>商品説明</h4>
      <%= f.text_area :caption %>
    
    <%= form_with(model: @item, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :genre, 'ジャンル' %>
    <%= f.select :genre, {'ケーキ':1,'プリン':2,'焼き菓子':3,'キャンディ':4}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>
  <% end %>
    
    <h4>税抜価格</h4>
    <%= f.number_field :price %>円
    
    <h4>販売ステータス</h4>
    
    <%= f.submit '新規登録' %>
  <% end %>
